* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

input,
button {
    height: 35px;
    border: 1px solid #005412;
    outline: none;
}

input[type="text"] {
    padding: 0 5px;
}

button {
    background-color: #005412;
    color: #FFF;
    -webkit-appearance: none;
    width: 80px;
}

button:hover {
    background-color: #003221;
    border-color: #003221;
    cursor: pointer;
}